.homeBG {
  background: linear-gradient(
      90deg,
      rgba(58, 57, 57, 0.01) 6%,
      rgba(153, 142, 142, 0.5830707282913166) 100%
    ),
    url("./assets/Image/Rec1.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  height: 720px;
}
